/* great-vibes-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/great-vibes-v18-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('fonts/great-vibes-v18-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
  
body {
    /* set the background*/
    background: url(notebook.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Great Vibes", helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 400;
    line-height: 1.75em;
}

h1, p{
    font-family: inherit;
    text-align: center;
    color: rgb(28, 28, 249);
    font-weight: 800;
    letter-spacing: 0.075em;
    line-height: 1em;
    margin: 0 0 0 0;
    font-size: 5rem;
    padding: 5rem;
}

p{
    font-size: 3rem;
    text-transform: none;
}

p>span{
    line-height: 2;
    padding: 0.5rem;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.center-bottom{
    margin: 0;
    position: absolute;
    text-align: center;
    height: 5rem;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn{
  background-color: white;
  border-radius: 0;
  border: 0;
  box-shadow: inset 0 0 0 2px #dddddd;
  color: #61686b;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: 3rem;
  height: 3em;
  letter-spacing: 0.05em;
  line-height: 3.15em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  touch-action: manipulation; /* Ensure fast touch event handling */
  user-select: none;
}

.btn:active{
    background-color: gainsboro;
    transition: background-color 0s; /* Remove transition on click */
}